* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Header Navigation Bar Style */
header {
    padding: 0px 60px;
}
header section {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    padding: 0px 40px;
    height: 98px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    height: 100%;
}

nav ul li a {
    color: #575757;
}

.reg-nav-btn {
    text-align: right;
}

.reg-now {
    color: white;
    padding: 12px 36px;
    background-color: #1d4ed8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

/* Hero banner Section Style */
.hero {
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 786px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,.75) 0%,
        rgba(0,0,0,.55) 25%,
        rgba(0,0,0,.25) 50%,
        rgba(0,0,0,0) 100%
    );
}

.hero-content {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero-content h2 {
    margin-bottom: 16px;
    font-size: 80px;
}

.hero-content p {
    margin-bottom: 278px;
    max-width: 700px;
    font-size: 22px;
    text-align: center;
}

.hero-reg-now {
    color:white;
    padding: 12px 48px;
    background-color: #1d4ed8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: 24px;
}

/* Meet the Speakers Section Style */
.meet-speakers {
    text-align: center;
    margin: 0 3.47rem 2.69rem 3.47rem;
    padding: 5rem 3.75rem;
}

.meet-speakers h2 {
    font-size: 3.5rem;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 3.5rem;
}

.card {
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

.speaker-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem;
    gap: 0.5rem;
}

.category {
    font-size: 0.75rem;
    color: #2563EB;
    font-weight: 600;
}

.speaker-info h3 {
    font-size: 1.25rem;
    color: #0D1B2A;
    font-weight: 700;
}

.company {
    font-size: 0.88rem;
    color:#575757;
    font-weight: 400;
}

/* Pricing Section Style Start */

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}