* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Header Navigation Bar Style */
header {
    padding: 0px 60px;
}
header section {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    padding: 0px 40px;
    height: 98px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    height: 100%;
}

nav ul li a {
    color: #575757;
}

.reg-nav-btn {
    text-align: right;
}

.reg-now {
    color: white;
    padding: 12px;
    background-color: #1d4ed8;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}